<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8">     
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
     <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
     <title>Network of homophily</title>

     <script type="text/javascript" src="https://rawgit.com/fkling/JSNetworkX/master/jsnetworkx.js"></script>
     <script src='http://d3js.org/d3.v3.min.js'></script>     
     <link rel="stylesheet" type="text/css" href="style.css">
        
</head>
<body ng-app="myApp">
     <script src="GenerateHomophilicGraph.js" type="text/javascript"></script>
     <h1 class="title">Simulating a network with homophilic property </h1>
     <div id="outer" ng-controller="MainCtrl" class="col-md-6">
        <network-inputs inputs="networkInputs" submit="submit(inputs)"></network-inputs>
     </div> 
    <!--test -->
     <script type="text/javascript">
        
        //get the input parameters for plotting
         angular.module("myApp", [])
         
         .directive('networkInputs', function() {
         return {
                restrict: 'E',
                scope: {
                   inputs: '<',
                   submit: '&'
                },
                template: 
              '<h3 >Initialise new parameters to generate a network </h3>'+
                    '<form ng-submit="submit({inputs: inputs})" class="form-inline">'+
                      '<div class="form-group">'+
                         '<label>Number of nodes</label>'+
                         '<input type="number" min="10" class="form-control" ng-model="inputs.N" ng-required="true">'+
                      '</div>'+
                      '<div class="form-group">'+
                         '<label>Number of edges of a new node</label>'+
                          '<input type="number" min="1" class="form-control" ng-model="inputs.m" ng-required="true">'+
                      '</div>'+
                      '<div class="form-group">'+
                         '<label>Minority Fraction</label>'+
                         '<input type="number" min="0" step="0.01" class="form-control" ng-model="inputs.minority" ng-required="true">'+
                      '</div>'+
                      '<div class="form-group">'+
                          '<label>h<sub>ab</sub></label>'+
                          '<input type="number" min="0.01" step="0.01" class="form-control" ng-model="inputs.hAB" ng-required="true">'+
                      '</div>'+
                      '<div class="form-group">'+
                          '<label>h<sub>ba</sub></label>'+
                          '<input type="number"  min="0.01" step="0.01" class="form-control" ng-model="inputs.hBA" ng-required="true">'+
                      '</div>'+
                      '<button style="color:black; margin: 1rem 4rem;" type="submit">Generate</button>' +
                   '</form>'};
         })
         .controller("MainCtrl",  ['$scope',function($scope) {

               $scope.networkInputs={};

               $scope.submit = function(inputs) {
                   //do whatever you want with your data insede the controller
                   var dataObject = {
                       N: inputs.N,
                       m: inputs.m,
                       minority: inputs.minority,
                       hAB: inputs.hAB,
                       hBA: inputs.hBA
                   };
                   //lets simply log them but you can plot or smth other 
                   console.log(dataObject); 
                   
                   
               }
               
         }]);
        var scope=angular.element(document.getElementById("outer")).scope();
        var inputVals=scope.networkInputs;
        //SVG size
        var width = 1500,
            height = 1200;

        // We only need to specify the dimensions for this container.

        var svg = d3.select('body').append('svg')
              .attr('width', width)
              .attr('height', height);
        var force = d3.layout.force()
                      .gravity(.05)
                      .distance(100)
                      .charge(-100)
                      .size([width, height]);
        
        
        var graph=homophilic_barabasi_albert_graph_assym(inputVals.N, inputVals.m , inputVals.minority, inputVals.hAB , inputVals.hBA);
        // Extract the nodes and links from the data.
        var Glinks = [];
        var W=graph.degree()._numberValues;
        graph.edges().forEach(function(item){
           Glinks.push({"source": item[0],"target":item[1]})
        });
        var Gnodes = [];
        var obj=graph.node._numberValues;
        Object.keys(obj).forEach(function(key) {
           Gnodes.push({"name":key, "color":obj[key]["color"], "count":W[key]});
        });
        
        //Creates the graph data structure 
        force.nodes(Gnodes)
             .links(Glinks)
             .linkDistance(function(d) { 
              return(0.1*Glinks.length); 
             })//link length
             .start();
         //Create all the line svgs but without locations yet
        var link = svg.selectAll(".link")
           .data(Glinks)
           .enter().append("line")
           .attr("class", "link")
           .style("stroke-width","0.3px");
        
        //Do the same with the circles for the nodes - no 
        var node = svg.selectAll(".node")
            .data(Gnodes)
            .enter().append("g")
            .attr("class", "node")
            .call(force.drag);
        node.append("circle")
             .attr("r", function(d){
              return d.count*0.5;   
            })
            .style("opacity", .3)
            .style("fill", function (d) {
              return d.color;
            });
        //add degree of node as text 
        node.append("text")
            .attr("text-anchor", "middle")
            .text(function(d) { return d.count })
            .attr("font-family",'Raleway',"Tangerine");
        //Now we are giving the SVGs co-ordinates - the force layout is generating the co-ordinates which this code is using to update the attributes of the SVG elements
        force.on("tick", function () {
             link.attr("x1", function (d) {
                 return d.source.x;
                 })
                 .attr("y1", function (d) {
                 return d.source.y;
                 })
                 .attr("x2", function (d) {
                 return d.target.x;
                 })
                 .attr("y2", function (d) {
                 return d.target.y;
                 });

              node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
        });
    </script>
</body>

</html>